## FUNCTIONS

In [1]:
def fnc1():
    print("This is my first function")

In [2]:
fnc1()

This is my first function

In [7]:
def fnc2(fname):
    print("My first name is " +fname)

In [8]:
fnc2("Avishek")

My first name is Avishek

In [10]:
def fnc3(fname, mname, lname):
    print("My full name is: " + fname +" "+mname+" "+lname)

In [11]:
fnc3("Avishek", "Kumar", "Deb")

My full name is: Avishek Kumar Deb

In [12]:
fnc3("Avishek", "Deb")

TypeError: fnc3() missing 1 required positional argument: 'lname'

In [15]:
def fnc4(*name):
    print("My full name is: " +name[1])

In [17]:
def fnc4(*name):
    print("My full name is: " +name[0])

In [19]:
def fnc4(*name):
    print("My full name is: " +name[2])

In [21]:
def fnc4(*name):
    print("My full name is: " +name[3])

In [23]:
fnc4("Avishek","Naik","Deb")

IndexError: tuple index out of range

In [24]:
def fnc5(name1, name2, name3):
    print("I would like to be called as: " +name2)

In [26]:
fnc5(name1 = "Avishek", name2 = "Rockstar", name3 = "Deb")

I would like to be called as: Rockstar

In [27]:
def fnc6(food):
    for i in food:
        print(i)

In [30]:
fruits = ["Apples", "Mangoes", "Oranges"]
fnc6(fruits)

Apples
Mangoes
Oranges

In [31]:
fnc6("APPLES")

A
P
P
L
E
S

In [41]:
# Explained later the difference
def fnc7(x):
    return x**2

In [42]:
def fnc8(x):
    print (x**2)

In [43]:
fnc7(2)

4

In [44]:
print(fnc7(2))

4

In [45]:
fnc8(2)

4

In [46]:
print(fnc8(2))

4
None

In [49]:
def greetings(name):
    """
    This function will wish the entered name
    """
    print("Good morning " +name)

In [50]:
greetings("Avishek")

Good morning Avishek

In [51]:
print(greetings.__doc__)

    This function will wish the entered name

In [52]:
def fnc9(num):
    """
    This function will take an int input and return the cube of it
    """
    print(num**3)

In [53]:
fnc9(3)

27

In [55]:
fnc9.__doc__

'\n    This function will take an int input and return the cube of it\n    '

In [56]:
print(fnc9.__doc__)

    This function will take an int input and return the cube of it

In [57]:
def fnc10(num):
    """
    This function will take an int input and return the cube of it
    """
    return num**3

In [58]:
fnc10(3)

27

In [59]:
print(fnc10.__doc__)

    This function will take an int input and return the cube of it

In [60]:
# Difference between return and print
def fnc11():
    print("Hello world")

In [61]:
fnc11()

Hello world

In [67]:
type(fnc11())

Hello world

NoneType

In [63]:
def fnc12():
    return "Hello World"

In [64]:
fnc12()

'Hello World'

In [66]:
type(fnc12())

str

In [71]:
fnc11()+" Hello"

Hello world

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [72]:
fnc12()+" Hello" # Thus concatenation is possible with the return output.

'Hello World Hello'

In [90]:
# Define a fucntion to print the sum of even and odd numbers from a list of inputs.
def hello(a):
    sum_even = 0
    sum_odd = 0
    for i in a:
        if i % 2 == 0:
            sum_even += i
        else:
            sum_odd += i
    print(f"The sum of all the even numbers is {sum_even}")
    print(f"The sum of all the odd numbers is {sum_odd}")

In [91]:
hello(a = [*range(1,31,1)])

The sum of all the even numbers is 240
The sum of all the odd numbers is 225

In [22]:
def hello1(a):
    sum1 = 0
    sum2 = 0
    for i in a:
        if i % 2 == 0:
            sum1 += i
        else:
            sum2 += i
    return ("The sum of all the even numbers is {}.The sum of all the odd numbers is {}".format(sum1, sum2))

In [23]:
hello1(a = [*range(1,31,1)])

'The sum of all the even numbers is 240.The sum of all the odd numbers is 225'

In [40]:
a = [1,2,3,4]
b = [10,20,30,40]
c = []

In [41]:
for i in range(0, len(a)):
    c.append(a[i] + b[i])

In [42]:
c

[11, 22, 33, 44]

In [45]:
from operator import add
def list_add (lst1, lst2):
    lst3 = list(map(add, lst1, lst2))
    print("The sum of the two given lists are{}".format(lst3))

In [46]:
list_add([1,2,3,4], [10,20,30,40])

The sum of the two given lists are[11, 22, 33, 44]

In [1]:
#LAMBDA FUNCTIONS (Anonymous function)
x = lambda a: a+2
print(x(2))

4

In [2]:
y = lambda a:a**2
print(y(3))

9

In [8]:
# MAP (one function , one iterator)
## Square root of all the numbers from a given list

#Using function
lst1=[1,2,3,4,5]
def fnc_sqr(x):
    for i in x:
        print(i**2)
fnc_sqr(lst1)

1
4
9
16
25

In [9]:
#Using map
def fnc_sqr2(x):
    print(x**2)
a = list(map(fnc_sqr2, lst1))

1
4
9
16
25

In [10]:
#Using Lambda
b = list(map(lambda x:x**2, lst1))
b

[1, 4, 9, 16, 25]

In [11]:
# Lambdas are used within functions

def fnc(num):
    return lambda a: a*num

In [12]:
double = fnc(2)
print(double(13))

26

In [13]:
triple = fnc(3)
print(triple(13))

39

In [15]:
## 3 ways to concatenate three lists
a = [1,2,3,4]
b = [10,20,30,40]
c = [100,200,300,400]

In [21]:
# 1st way
def triple_sum_1(a,b,c):
    d = []
    for i in range(0,len(a)):
        d.append(a[i]+b[i]+c[i])
    print(d)
triple_sum_1(a,b,c)

[111, 222, 333, 444]

In [22]:
# 2nd way
def triple_sum (x,y,z):
    return x+y+z
list(map(triple_sum, a,b,c))

[111, 222, 333, 444]

In [23]:
# 3rd way
list(map(lambda x,y,z: x+y+z, a,b,c))

[111, 222, 333, 444]

In [26]:
#FILTER (A function to check if each of the elements of the function are true)

def even_check(num):
    if num % 2 == 0:
        return True

In [30]:
l = [*range(1,21,1)]
a = filter(even_check, l)
for i in a:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [4]:
# ITERATORS AND GENERATORS

## Plain way to generate the cube of a given number range.

def cube(num):
    for i in range(num):
        print(i**3)

In [5]:
cube(5)

0
1
8
27
64

In [31]:
## Using generator function

def cube1(num):
    for i in range(num):
        yield i**3
c = cube1(5)

In [36]:
next(c)

64

In [40]:
for i in cube1(5):
    print(i)

0
1
8
27
64

In [41]:
list(cube1(5))

[0, 1, 8, 27, 64]

In [37]:
str1 = "Hello"

In [45]:
next(str1) # Error as this str is not an iterable object.

TypeError: 'str' object is not an iterator

In [38]:
str2 = iter(str1)

In [43]:
next(str2)

'o'

In [86]:
# Advantages of using iterations: It reduces the load in the machine and thus increases the runtime.

## Fibonacci series in normal way:
%time
def fibo1(num):
        a = 1
        b = 1
        output = []
        for i in range(num):
            output.append(a)
            a,b = b, a+b
        return output
for i in fibo1(100):
    print(i)
%time

Wall time: 0 ns
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075
Wall time: 0 ns

In [87]:
# Fibonacci series with iterator
%time
def fibo2(num):
    a = 1
    b = 1
    for i in range(num):
        yield a
        a,b = b, a+b
for i in fibo2(100):
    print (i)

Wall time: 0 ns
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075