## Non-primitive Data Structure Operations

In [117]:
#TUPLE - Concatenation, Immutable.
tup = 1,2,3
tup1 = ("Hello", 1,1,1,2,3)
tup2 = (4,5,6)

In [3]:
type(tup)

tuple

In [118]:
tup1.count(3)

1

In [121]:
tup.index(3)

2

In [122]:
tup[1]

2

In [20]:
tup3 = tup1+tup2

In [21]:
len(tup3)

9

In [23]:
tup3.count(5)

1

In [60]:
# LIST - Mutable, indexed, index start from 0, only the sort function works with list. 
lst1 = []
lst2 = ["Hello", 1,2,3,"  ", 3,"Boy"]
lst3 = ["Bye", 4,4,5,6]
lst4 = [2,3,1,6,7,5,1,2,10]
lst5 = ["I think the output will be list format", "True"]
lst6 = ["I think the output will be list format True"]

In [59]:
type(lst1)

lst2.append("Who is this")
print(lst2)
lst2.insert(1, "INSERTED")
lst2.extend("Extended")
lst2[0] = "Value replaced"

lst22 = lst2.copy()
lst22 == lst2
lst2 == lst3

lst3.count(4)

lst2.index("Boy")

lst2.pop()
lst2.remove("Boy")
lst2.clear()

lst4.sort()
lst4

lst2+lst3
lst2.append(lst3)
lst2.extend(lst3)

lst4.reverse()

for i in lst5:
    print(i)
    
for i in lst6:
    print(i)
    
for i in lst4:
    print(i)

lst4.reverse()

['Hello', 1, 2, 3, '  ', 3, 'Boy', 'Who is this']
I think the output will be list format
True
I think the output will be list format True
10
7
6
5
3
2
2
1
1

In [54]:
# Write a program to print the square of the numbers from a given list:

lst7 = [1,2,3,4,5,6,7,8,9]
for i in lst:
    print(i**2)

1
4
9
16
25
36
49
64
81

In [55]:
# Using list comprehensions

[i**2 for i in lst7]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
#Even numbers inside a list

sum_even = 0
for i in lst7:
    if i % 2 == 0:
        print(i)

2
4
6
8

In [57]:
# Using set comprehensions
[i for i in lst7 if i%2 == 0]

[2, 4, 6, 8]

In [58]:
# Sum of even numbers
sum_even = 0
for i in lst7:
    if i % 2 == 0:
        sum_even += i
print(sum_even)

20

In [73]:
# Set - No duplicate values, ordered and unindexed, non-mutatable, Concatenation possible.

s1 = {}
s2 = {"Hello",1,2,3}
s4 = {1,2,3}
s5 = {3,4,5}

In [34]:
type(s1)

dict

In [87]:
s4.update(s5)
s4

{1, 2, 3, 4, 5}

In [37]:
type(s2)

set

In [70]:
s2.add("Bye")
s2

{1, 2, 3, 'Bye', 'Hello'}

In [71]:
s2.clear()
s2

set()

In [72]:
print(s2)

set()

In [86]:
s3 = s2.copy()

In [87]:
s3

{1, 2, 3}

In [51]:
s2

{1, 2, 3, 'Hello'}

In [52]:
s2 == s3

True

In [74]:
s4.difference(s5)

{1, 2}

In [75]:
s4

{1, 2, 3}

In [76]:
s5

{3, 4, 5}

In [77]:
s4.difference_update(s5)

In [78]:
s4

{1, 2}

In [79]:
s5

{3, 4, 5}

In [80]:
s2.discard("Hello")

In [81]:
s2

{1, 2, 3}

In [82]:
s4.intersection(s5)

set()

In [71]:
s4

{3}

In [83]:
s5

{3, 4, 5}

In [84]:
s4.intersection_update(s5)

In [88]:
s2.isdisjoint(s3)

False

In [76]:
s5 = {1,2,3}
s6 = {4,5,6}

In [77]:
s5.isdisjoint(s6)

True

In [78]:
s5.issubset(s6)

False

In [79]:
s7 = {1,2,3,4,5,6,7}
s8 = {1,2,3}

In [81]:
s7.issubset(s8)

False

In [83]:
s7.issuperset(s8)

True

In [84]:
s2.pop()

1

In [85]:
s2

{2, 3, 'Hello'}

In [87]:
s2.remove("Hello")

In [88]:
s2

{2, 3}

In [89]:
s7.symmetric_difference(s8)

{4, 5, 6, 7}

In [90]:
s7.union(s8)

{1, 2, 3, 4, 5, 6, 7}

In [91]:
s8 = {1,2,3,4,3,2,3,4}

In [92]:
s8

{1, 2, 3, 4}

In [93]:
s8[1] #Non_mutable in nature.

TypeError: 'set' object is not subscriptable

In [95]:
for i in s8:
    print (i)

1
2
3
4

In [117]:
s5.update("i","j","k")

In [129]:
s5

{10, 100, 13, 14, 3, 4, 5, 6, 99, 999, 'i', 'j', 'k'}

In [128]:
s5.add(6)

In [133]:
s5.discard(10)

In [136]:
s5.remove(13)

In [147]:
s6 = "This is the way to convert strings into set"

In [138]:
type(s6)

str

In [143]:
s7 = set(s6.split())

In [145]:
type(s7)

set

In [144]:
s7

{'This', 'convert', 'into', 'is', 'set', 'strings', 'the', 'to', 'way'}

In [148]:
len(s6)

43

In [89]:
# DICTIONARY - Like sets but unordered collection of key-value paris, The keys works as the index.

d1 = {}
d2 = {"A": "Hey", "B": "Bolo", "C": "Bye"}

In [90]:
type(d1)

dict

In [91]:
print(d2)

{'A': 'Hey', 'B': 'Bolo', 'C': 'Bye'}

In [7]:
type(d2)

dict

In [92]:
d2.get("C")

'Bye'

In [30]:
d2.popitem()

('C', 'Bye')

In [36]:
d2.setdefault("B")

'Bolo'

In [94]:
d2["D"] ="Goodbye"
d2

{'A': 'Hey', 'B': 'Bolo', 'C': 'Bye', 'D': 'Goodbye'}

In [41]:
d2["A"]

'Hey'

In [44]:
d2["A"] = "Okay hi"

In [46]:
d2.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [47]:
d2.values()

dict_values(['Okay hi', 'Bolo', 'Bye', 'Goodbye'])

In [48]:
d2.items()

dict_items([('A', 'Okay hi'), ('B', 'Bolo'), ('C', 'Bye'), ('D', 'Goodbye')])

In [49]:
d2.popitem()

('D', 'Goodbye')

In [51]:
d2.pop("A")

'Okay hi'

In [60]:
for i in d2:
    print(i)

A
B
C
D

In [61]:
for i in d2:
    print(d2[i])

Hey
Bolo
Bye
Goodbye

In [64]:
for i in d2.keys():
    print(i)

A
B
C
D

In [65]:
for i in d2.values():
    print(i)

Hey
Bolo
Bye
Goodbye

In [67]:
for i,j in d2.items():
    print(i,j)

A Hey
B Bolo
C Bye
D Goodbye

In [68]:
d5 = {
    "BIG":{
        "Mukhesh": "Elder son",
        "year": 1950},
    "SMALL":{
    "Anil": "Younger son",
    "year": 1970}}
print(d5)

{'BIG': {'Mukhesh': 'Elder son', 'year': 1950}, 'SMALL': {'Anil': 'Younger son', 'year': 1970}}

In [70]:
d5.keys()

dict_keys(['BIG', 'SMALL'])

In [71]:
d5.values()

dict_values([{'Mukhesh': 'Elder son', 'year': 1950}, {'Anil': 'Younger son', 'year': 1970}])

In [77]:
d5["BIG"]

{'Mukhesh': 'Elder son', 'year': 1950}

In [78]:
d5["SMALL"]

{'Anil': 'Younger son', 'year': 1970}

In [95]:
# ARRAY

import numpy as np

In [99]:
ar1 = np.array([])
ar2 = np.array(["Hello",1,2])
ar3 = np.array([9,8,3,4,5])
ar4 = np.array([6,7,8,9,10])

In [92]:
ar1
ar2

array(['Hello', '1', '2'], dtype='<U5')

In [93]:
type(ar1)
type(ar2)

numpy.ndarray

In [100]:
ar3.argmax()

0

In [101]:
ar3.argmin()

2

In [102]:
ar3.max()

9

In [103]:
ar4.min()

6

In [105]:
ar3.sort()
ar3

array([3, 4, 5, 8, 9])

In [113]:
type(ar3)

numpy.ndarray

In [106]:
z = ar3+ar4

In [125]:
z

array([15, 15, 11, 13, 15])

In [126]:
type(z)

numpy.ndarray