## OOPS CONCEPT

In [1]:
# Object Oriented Programming System - Have a structure in the form of Object and classes.
# Class - CAR
# Object - BMW
# Thus objects can be seen and manipulated but a class cannot be maniplated.

In [10]:
i = 10
print(i)

10

In [11]:
print(type(i))

<class 'int'>

In [19]:
 i = "Hello"
print(type(i))

<class 'str'>

In [20]:
i = 10.0
print(type(i))

<class 'float'>

In [21]:
i = True
print(type(i))

<class 'bool'>

In [22]:
i = []
print(type(i))

<class 'list'>

In [24]:
class myclass:
    x = 5
p1 = myclass()
print(p1.x)

5

In [26]:
class myclass1:
    x = [*range(1,10,1)]
p2 = myclass1()
print(p2.x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
class myclass2():
    y = "Hello,is this me you're looking for?"
boy = myclass2()
print(boy.y)

Hello,is this me you're looking for?

In [32]:
class myclass3:
    def __init__(z, name, age):
        z.name = name
        z.age = age
p1 = myclass3("Avishek", 26)
print(p1.name)
print(p1.age)

Avishek
26

In [44]:
class myclass4:
    def __init__ (z, name, age):
        z.name = name
        z.age = age
    def fname(y):
        print("Hello my name is: " +y.name)
p1 = myclass4("Debashis", "Thirty")
p1.fname()

Hello my name is: Debashis

In [46]:
class myclass5:
    pass
a = myclass()
print(type(a))

<class '__main__.myclass'>

In [47]:
a.name = "Avishek"
a.age = 27
a.weight = 70

In [48]:
a.name

'Avishek'

In [49]:
a.age

27

In [50]:
a.weight

70

In [51]:
class myclass6:
    pass
b = myclass6()

In [52]:
b.name1 = "Hello1"
b.name2 = "Hello2"
b.name3 = "Hello3"

In [53]:
b.name1

'Hello1'

In [54]:
b.name2

'Hello2'

In [55]:
b.name3

'Hello3'

In [76]:
# Thus, here myclass6 is the class name under which we have an object named "b" and the 
#various charaterictics of this b object is name1, name2, and name3 respectively.

class myclass7:
    pass
ob1 = myclass7()
ob2 = myclass7()

In [77]:
ob2.colour = "Red"
ob2.speed = 120
ob2.warranty = 3
ob2.international_validity = "No"

In [79]:
ob2.colour

'Red'

In [80]:
ob2.speed

120

In [82]:
ob2.warranty

3

In [83]:
ob2.international_validity

'No'

In [78]:
ob1.local = "Mulli"
ob1.state = "W.B"
ob1.country = "India"

In [84]:
ob1.local

'Mulli'

In [85]:
ob1.state

'W.B'

In [86]:
ob1.country

'India'

In [93]:
print(f"The full address of Mr.Roy is {ob1.local} and {ob1.state} and {ob1.country}")

The full address of Mr.Roy is Mulli and W.B and India

In [95]:
#Better way of writing the above code using __init__ function

class myclass8:
    def __init__(x, local, state, country):
        x.local_village = local
        x.state_capital = state
        x.country_BRICS = country
obj = myclass8("Patharberia", "West Bengal", "India")

In [96]:
obj.local_village

'Patharberia'

In [97]:
obj.state_capital

'West Bengal'

In [99]:
obj.country_BRICS

'India'

In [103]:
class myclass9:
    def __init__ (z, name, age, height, weight):
        z.n = name
        z.a = age
        z.h = height
        z.w = weight
obj = myclass9("Avishek", 27, 5.7, 60)

In [104]:
obj.n

'Avishek'

In [105]:
obj.a

27

In [106]:
obj.h

5.7

In [107]:
obj.w

60

In [132]:
#Public, Protected and private
class xyz:
    def __init__ (self, a,b,c):
        self.a = a
        self.b = b
        self.c = c
    def test(self):
        print ("This is a public method")
    def _test1(self):
        print("This is a protected method")
    def __test2 (self):
        print("This is a private method")
obj =xyz(1,2,3)
obj.test()
obj._test1()
obj._xyz__test2()

This is a public method
This is a protected method
This is a private method

In [1]:
#Try and except handling
while(True):
    try:
        a = int(input("Enter a number"))
        b = int(input("Enter another number"))
        c = a/b
        print(c)
        break
    except:
        print("Enter the value of b in iteger format only")
        continue

Enter a number90
Enter another number80.5
Enter the value of b in iteger format only
Enter a number20
Enter another number80
0.25

In [21]:
a = 10
b = "Hello"
c = a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
print(a)
print(b)
print(c)  #The program does not run because of the problem in variable c,to avoid this we can ue try and except.

10
Hello

NameError: name 'c' is not defined

In [11]:
try:
    print(a)
    print(b)
    print(c)
except:
    print("Warning: Atleast there is some problem in the program")

10
Hello
Warning: Atleast there is some problem in the program

In [17]:
try:
    print(d)
except NameError:
    print("Error 'NamError' will get overlooked")

Error 'NamError' will get overlooked

In [20]:
try:
    print(c)
except NameError:
    print("Error 'nameerror' will get overlooked")
else:
    print("Some other problems")

Error 'nameerror' will get overlooked

In [23]:
try:
    print(c)
except NameError:
    print("Error 'nameerror' will get overlooked")
else:
    print("Some other problems")
finally:
    print("This will be printed anyway regardless of the other errors")

Error 'nameerror' will get overlooked
This will be printed anyway regardless of the other errors